<!--
  Copyright 2016 The Cartographer Authors

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<launch>
  <param name="/use_sim_time" value="true" />

  <include file="$(find carto_rmf)/launch/backpack_2d_imu.launch" />
  <!-- Choose Here!! for _imu or without imu -->

  <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find carto_rmf)/configuration_files/demo_2d.rviz" />
  <node name="playbag" pkg="rosbag" type="play"
      args="--clock -r 0.5 $(arg bag_filename)  /tf:=/tf_dev_null " />    
  <!-- mute tf from bag file -->


  <!-- <node pkg="tf" type="static_transform_publisher" name="velo2base_broadcaster" args="0 0 0 0 0 0 base_link velodyne 10"/> -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="base_to_map_broadcaster" args="0 0 0 0 0 0 base_link map 100" /> -->

</launch>
