<body

  style=" text-align:center;
   padding:15% 0 15% 0;
  background-color:#41f4a0; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; margin: 0 0 0 0; height: 2000px">
<p style="font-size:65px; color:#000000;  margin: 0 ">
  <strong>Choose</strong>
</p>
<p style="font-size:30px; color:#000000; margin:0 0 0 0;">
  What You Like!
</p>


<table style="width:100%; color:#000; padding:5% 2% 5% 2%">
  <tr>
    <th style="font-size:50px; text-align:center"><strong>1</strong></th>
    <th style="font-size:50px; text-align:center"><strong>2</strong></th>
  </tr>

  <tr>
    <td>
      <img class="menu-image" src='/assets/coke_zero.png'/>
    </td>
    <td>
      <img class="menu-image" src='/assets/coke_classic.png'/>
    </td>
  </tr>
  <tr>
    <td style="font-size:30px; text-align:center">Coke Zero</td>
    <td style="font-size:30px; text-align:center">Coke Classic</td>
  </tr>
</table>
</body>



