<body
  style=" text-align:center;
          margin:0;
          background-color:#41f4a0;
          font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; height: 2000px">
<!--<h2 class="peace"><i class="fa fa-hand-peace-o fa-5x"></i></h2>-->
<p style="font-size:200px; color:#000000; margin:0 ;padding:12% 0 2% 0; ">
  <strong>Hi</strong>
</p>

<p style="font-size:30px; color:#000000; margin:0 ;padding:10% 0 0 0;">
  We have a free treat for you
</p>

<p style="font-size:75px; color:#000000; margin:0 ;padding:5% 0 0 0;">
  <strong>Come grab a</strong>
</p>

<p style="font-size:95px; color:#000000; margin:0 ;padding:0 0 0 0;">
  <strong>FREE DRINK!</strong>
</p>
</body>
